html, body {
    text-align: center;
    color: white;
    background: #121212;
    font-family: "Arial";
}

.game-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.game-info > div {
    width: 300px;
    margin: 10px;
}

.grid-container {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 75px 75px 75px;
    gap: 20px;
}

.grid-container > div {
    background: #616E7C;
    border-radius: 5px;
    font-size: 150%;
    line-height: 75px;
    cursor: pointer;
}

h1 {
    font-size: 40px;
}

.team {
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
}

#timer {
    font-size: 30px;
}

.spynewgame-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.spynewgame-info > div {
    width: 300px;
    margin: 10px;
}

.spymasterbtn{
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 2px solid red;
    border-radius: 20px;

}

.newgamebtn{
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 2px solid red;
    border-radius: 20px;
}

.n.spymaster {
    background: rgb(187, 187, 26) !important;
}

.r.spymaster {
    background: red !important;
}

.b.spymaster {
    background: blue !important;
}

.a.spymaster {
    background: black !important;
}

.r.shown {
    background: red !important;
}

.b.shown {
    background: blue !important;
}

.a.shown {
    background: black !important;
}

.n.shown {
    background: rgb(187, 187, 26) !important;
}

.red-cards {
    color: red;
    border: 2px solid red;
    border-radius: 20px;
}

.blue-cards {
    color: blue;
    border: 2px solid blue;
    border-radius: 20px;
}

.daa{
    color: blue;
    border: 2px solid blue;
    border-radius: 20px;
}